.panel1 {
  width: 200px;
  background: #909090;
}
.panel2 {
  background:	#A9A9A9;
}

.panel {
  border: solid 2px black;
}
.panel3 {
  width: 200px;
  background: #909090;
}

.panel4 {
  min-width: 200px;
  max-width: 200px;
  background:	#A9A9A9;
}